
{% extends 'base.html' %}
{% block content %}


{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <div class="form-container">
      <div class="form-nav">
          <span class="login">Reset Password</span>
          <span class="signUp notactivePane"><a href="{% url 'libry' %}">Login</a></span> 
      </div>
      <div class="form">
        <span style="color:#fff;">Enter your email to receive a link for your password reset.</span>
        <input class="username" placeholder="example@mail.com" type="Email" name="Email">
         <!--<div class="sub"> 
              <span><input type="checkbox">Remember me</span>
              <a href="reset.html">Forgot password</a>
          </div>--> 
          <button class="form-button">Submit</button>
          <br/>
          <span style="color:#fff">have an account already? <a href="{% url 'libry' %}">Login</a></span>
              </div>
      <!--<div class="buttons">
          <input type="button" value="click me">  
      </div>-->
  </div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p style="text-align: center;"><i style="font-size:50px; color:green" class="bi bi-check2-circle"></i><br/>A password reset in has been sent to your mail!</p>
  </div>

</div>


<style>


  
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
      }
      /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
 
      var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("submit");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endblock %}